.profile {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px 0 0;
}
.top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.img {
  border-radius: 100%;
  background-color: #000000;
}
.title {
  font-size: 30px;
  font-weight: 600;
}
.text {
  font-size: 20px;
  color: #848484;
}
.bottom {
  display: flex;
  flex-direction: row;
  background-color: #d3d3d3;
  width: 100%;
}
.itemstat {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(100% / 3);
  border-top: 1px solid #808080;
  padding: 10px;
}
.itemstat:not(:last-child) {
  border-right: 1px solid #808080;
}
.statstitle {
  text-transform: capitalize;
}
.statstitle,
.statstext {
  font-size: 20px;
}
.statstext {
  font-weight: 600;
}
